<h3>
	Производители
	<a type="button" class="btn btn-sm btn-success toolbar-inline" ui-sref="int.dict.manufacturer.new">
		<i class="fa fa-plus"></i>
		Добавить
	</a>
</h3>
<div class="toolbar">
	<!--empty-->
</div>


<table class="table table-bordered table-striped">
	<tr>
		<th>Название</th>
		<th>Основной</th>
		<th>Действия</th>
	</tr>
	<tr ng-repeat="manufacturer in manufacturers | orderBy:'name'">
		<td ng-bind="manufacturer.name"></td>
		<td>
			<input type="checkbox" ng-model="manufacturer.isPrimary" disabled=""/>
		</td>
		<td>
			<a class="btn btn-xs btn-primary" ui-sref="int.dict.manufacturer.edit({id: manufacturer.manufacturerId})">Редактировать</a>
		</td>
	</tr>
</table>

<h3>
	Типы материалов
	<a type="button" class="btn btn-sm btn-success toolbar-inline" ui-sref="int.dict.material-type.new">
		<i class="fa fa-plus"></i>
		Добавить
	</a>
</h3>
<div class="toolbar">
	<!--empty-->
</div>


<table class="table table-bordered table-striped">
	<tr>
		<th>Название</th>
		<th>Тип сплава</th>
		<th>Прокат</th>
		<th>Толщина</th>
		<th>Действия</th>
	</tr>
	<tr ng-repeat="materialType in materialTypes | orderBy:'name'">
		<td ng-bind="materialType.name"></td>
		<td ng-bind="materialType.alloyType|list:alloyTypes"></td>
		<td ng-bind="materialType.rollType|list:rollTypes"></td>
		<td ng-bind="materialType.thickness"></td>
		<td>
			<a class="btn btn-xs btn-primary" ui-sref="int.dict.material-type.edit({id: materialType.rawMaterialTypeId})">Редактировать</a>
		</td>
	</tr>
</table>

<h3>Категории наценок 
	<a type="button" class="btn btn-sm btn-success toolbar-inline" ui-sref="int.dict.price-category.new">
		<i class="fa fa-plus"></i>
		Добавить
	</a>
</h3>
<div class="toolbar">
	<!--empty-->
</div>


<table class="table table-bordered table-striped">
	<tr>
		<th>Название</th>
		<th>Действия</th>
	</tr>
	<tr ng-repeat="priceCategory in priceCategories | orderBy:'name'">
		<td ng-bind="priceCategory.name"></td>
		<td>
			<a class="btn btn-xs btn-primary" ui-sref="int.dict.price-category.edit({id: priceCategory.priceExtraCategoryId})">Редактировать</a>
		</td>
	</tr>
</table>

