<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Authentication.Cipher" value="dfvk2jKJhd8s@##^#$!43sdfj2" />

		<add key="Server.DefaultProtocol" value="http" />
		<add key="Server.DefaultHost" value="localhost" />
		<add key="Server.DefaultPort" value="9000" />
	</appSettings>

	<connectionStrings>
		<add name="AnalyticsEntities" connectionString="Data Source=storage.sqlite;Version=3" providerName="SQLite" />
		<!--<add name="TestEntities" connectionString="Data Source=:memory:;Version=3;New=True" providerName="SQLite"/>-->
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>