<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 
		See http://nlog-project.org/wiki/Configuration_file 
		for information on customizing logging rules and outputs.
   -->
	<variable name="logDir" value="c:\app-logs\analytics-server" />

	<!-- Настройка Layout -->
	<variable name="shortLayout" value="${date:format=HH\:mm\:ss} (${level:uppercase=true}): ${message} ${exception:format=tostring}"/>
	<variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}) ${logger}: ${message} ${exception:format=tostring}"/>
	<variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>


	<targets>

		<target xsi:type="Console" name="consoleShort" layout="${shortLayout}" />

		<target xsi:type="ColoredConsole" name="consoleStorage" layout="${shortLayout}" >
			<highlight-row condition="true" foregroundColor="Yellow"/>
		</target>

		<target xsi:type="Trace" name="traceShort" layout="${commonLayout}" />
		<target xsi:type="Trace" name="traceLong" layout="${detailedLayout}" />

		<!--Сюда пишется все, но хранится только неделю-->
		<target name="fileVerbose" xsi:type="File"
            layout="${commonLayout}"
            fileName="${logDir}/server-all.log"
			archiveFileName="${logDir}/archives/verbose/${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

		<!--Сюда пишутся только предупреждения и ошибки, зато хранится два месяца-->
		<target name="file" xsi:type="File"
            layout="${commonLayout}"
            fileName="${logDir}/errors.log"
            archiveFileName="${logDir}/archives/short/${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="60"
            concurrentWrites="true"
            keepFileOpen="false" />

		<!--Сюда пишутся только предупреждения и ошибки, зато хранится два месяца-->
		<target name="sms" xsi:type="File"
            layout="${shortLayout}"
            fileName="${logDir}/sms.log"
            archiveFileName="${logDir}/archives/sms/${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="60"
            concurrentWrites="true"
            keepFileOpen="false" />

		<!--Сюда пишется все, но хранится только неделю-->
		<target name="fileApiFatal" xsi:type="File"
            layout="${commonLayout}"
            fileName="${logDir}/api-fatal.log"
            concurrentWrites="true"
            keepFileOpen="false" />

	</targets>

	<rules>
		<logger name="Storage" minlevel="Debug" writeto="consoleStorage" final="true" />

		<logger name="ApiGlobal" minlevel="Debug" writeto="fileApiFatal" />

		<logger name="*" minlevel="Warn" writeTo="file" />
		<logger name="*" minlevel="Debug" writeTo="fileVerbose" />
		<logger name="*" minlevel="Debug" writeTo="consoleShort" />
 	</rules>
</nlog>